apiVersion: apps/v1
kind: Deployment
metadata:
  name: homestaygripzzy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: homestaygripzzy
  template:
    metadata:
      labels:
        app: homestaygripzzy
    spec:
      containers:
        - name: web
          image: ghcr.io/<OWNER>/homestaygripzzy:latest
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
